:root {
    --brandcolormain:#6113EC;
    --brandcolorsecondary:#C01E1E;
}

html {
    overflow-x: hidden;
}

body{
    background-color: var(--brandcolormain);
}

.col-sm-4{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar .navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar img {
    height: 4rem;
}

#myCarousel {
    height: 500px;
    background-color: var(--brandcolorsecondary);
}

#myCarousel .item {
    height: 500px;
}

#myCarousel .item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}