:root {
    --brandcolormain:#6113EC;
    --brandcolorsecondary:#C01E1E;
    --textcolormain:#1EC0C0;
    --textcolorsecondary:#9EEC13;
}

html {
    overflow-x: hidden;
}

body{
    background-color: var(--brandcolormain);
}

.jumbotron{
    background-color: var(--brandcolorsecondary);
}
.jumbotron h1{
    color: var(--textcolormain);
}

.col-sm-4{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

/* Puts products pictures in the middle of their columns. */
.container img {
    margin: auto;    
    display: block;
} 

/* Puts the products text in the center and sets their color. */
.container p{
    text-align: center;
    color: var(--textcolorsecondary);
}

.container h3{
    color: var(--textcolorsecondary);
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar .navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar img {
    height: 4rem;
}

#myCarousel {
    height: 500px;
    background-color: var(--brandcolorsecondary);
}

#myCarousel .item {
    height: 500px;
}

#myCarousel .item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-caption {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}